.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    cursor: pointer;
    margin-left: 20px;
    transition: all 300ms ease;
    cursor: pointer;
}

.headerOption__title {
    font-size: 12px;
    font-weight: 500;
}

.headerOption__icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

.headerOption:hover {
    color: #333;
}